head
  title Support #{support.name}
  link(href='/stylesheets/slate.min.css', rel='stylesheet', type='text/css')
  script(type='text/javascript', src='/scripts/versus.js')
body
  div.navbar
    .navbar-inner
      .container
        a.brand(href="/") Plan vs Plan
        div.nav-collapse
          ul.nav
            li
              a(href='/vs?topic=#{topic}') Showdown
            li
              a(href='/ranking?topic=#{topic}') Ranking
            li.active
              a(href='/additem?topic=#{topic}&support=#{supportslug}') Support #{support.name}
            li
              a(href='/additem?topic=#{topic}&support=#{supportotherslug}') Support #{supportother.name}

  div.container
    .row
      .span8
        div.hero-unit(style='padding:20px;')
          h1 Plan vs Plan: #{support.name}
      .span4
        div(style='border:1px solid #fff;border-radius:8px;padding:15px;')
          h4 Disclaimer
          p
            span PlanVsPlan and this competition are&nbsp;
            a(href="#") NOT affiliated
            span &nbsp;with DARPA, Batman, or DC Comics.
    
    .row(style='text-align:center;')
      .span12
        h3 Submit a post in favor of #{support.name}:
        form.well(action="/submit", method="GET")
          input(name='topic', type='hidden', value='#{topic}')
          input(name='support', type='hidden', value='#{supportslug}')
          label.info Item Name
          input.x-large(name='item')
          br
          br
          label.info Picture URL
          input.x-large(name='url')
          br
          br
          label.info Picture Credit
          input.x-large(name='credit')
          hr
          input.btn.btn-primary(type="submit")