head
  title Plan vs Plan: Parks
  link(href='/stylesheets/bootstrap.min.css', rel='stylesheet', type='text/css')
  script(type='text/javascript', src='/scripts/basicversus.js')
body
  div.navbar
    .navbar-inner
      .container
        a.brand(href="/") Plan vs Plan
        div.nav-collapse
          ul.nav
            li.active
              a(href='/parks') Showdown
            li
              a(href='/ranking?topic=101') Ranking
            li
              a(href='/additem?topic=101&support=centralpark') Support Central Park
            li
              a(href='/additem?topic=101&support=goldengatepark') Support Golden Gate Park

  div.container(style='background-color:#272B30;padding:25px;')
    div.hero-unit(style='padding:20px;')
      h1 Central Park vs Golden Gate Park
    
    div.row(style='text-align:center;')
      .span5
        a(href="#", onclick="voter()")
          h3#ditem #{ditem.item}
          img#dpic.contender(src='#{ditem.pic}', style='margin-left:auto;margin-right:auto;max-width:100%;max-height:350px;cursor:pointer;border:1px solid blue;')
          br
          span#dcredit #{ditem.credit}
          br
          span#dvotes(style="font-size:16pt;")
      
      .span2
        img#middle(src="http://i.imgur.com/P8VmU.png", style="margin-top:100px;")
      
      .span5
        a(href="#", onclick="voter()")
          h3#bitem #{bitem.item}
          img#bpic.contender(src='#{bitem.pic}', style='margin-left:auto;margin-right:auto;max-width:100%;max-height:350px;cursor:pointer;border:1px solid blue;')
          br
          span#bcredit #{bitem.credit}
          br
          span#bvotes(style="font-size:16pt;")