head
  title Plan vs Plan: DARPA vs Batman
  link(href='/stylesheets/slate.min.css', rel='stylesheet', type='text/css')
  script(type='text/javascript', src='/scripts/versus.js')
body
  div.navbar
    .navbar-inner
      .container
        a.brand(href="/") Plan vs Plan
        div.nav-collapse
          ul.nav
            li.active
              a(href='/') Showdown
            li
              a(href='/d') Add DARPA item
            li
              a(href='/b') Add Batman item

  div.container
    div.hero-unit(style='padding:20px;')
      h1 DARPA vs. Batman:
      p Which would win?
      div(style='border:1px solid #fff;float:right;padding:15px;')
        h4 Unaffiliated
        p
          span PlanVsPlan and this site are&nbsp;
          a(href="http://imgur.com/Zqo8k") NOT affiliated
          span &nbsp;with DARPA, Batman, or DC Comics.
      div(style='clear:both;')

    div.row(style='text-align:center;text-decoration:underline;')
      .span5
        a(href="#", onclick="voted()")
          h3#ditem #{darpa.item}
          img#dpic.contender(src='#{darpa.pic}', style='margin-left:auto;margin-right:auto;max-width:100%;max-height:350px;cursor:pointer;border:1px solid blue;')
          br
          span#dcredit #{darpa.credit}
          br
          span#dvotes
      
      .span1
        img#middle(src="http://usrbin.info/wikipediavspredator/media//img/vs.gif", style="margin-top:100px;")
      
      .span5
        a(href="#", onclick="voteb()")
          h3#bitem #{batman.item}
          img#bpic.contender(src='#{batman.pic}', style='margin-left:auto;margin-right:auto;max-width:100%;max-height:350px;cursor:pointer;border:1px solid blue;')
          br
          span#bvotes